
<button (click)="addData()" class="add">Add Program</button>

<ejs-grid [dataSource]="tempData" #grid>
    <e-columns>
        <e-column field='programName' headerText='program Name' textAlign='center' width=50></e-column>
        <e-column field='programNumber' headerText='program Number' textAlign='center' width=50></e-column>
        <e-column field='programBudget' headerText='program Budget' textAlign='center' format='C2' width=50></e-column>
        <e-column field='programDescription' headerText='program Description' textAlign='center' width=100></e-column>
        <e-column field='programID' headerText='' textAlign='center' format='yMd' width=50>
            <ng-template #template let-data>
                <button (click)="editdata(data)" class="edit">Edit</button>
                <button (click)="deactivateStatus(data)" *ngIf="data.isActive" class="active">Active</button>
                <button (click)="changeStatus(data)" *ngIf="!data.isActive" class="deactive active">Deactive</button>

            </ng-template>
        </e-column>
    </e-columns>
</ejs-grid>
<app-popup-form class="popupForm" id="popupForm" *ngIf="popupBox.value">

</app-popup-form>