<form #myForm="ngForm" id="myForm" *ngIf="!addOrEdit.value">

    <h1>Update Program</h1>
    <input type="text" placeholder="Program Name" name="programName" [ngModel]="editData.programName">

    <input placeholder="Program Number" name="programNumber" [ngModel]="editData.programNumber" #programNumber
        type="text">

    <input placeholder="Program Budget" name="programBudget" [ngModel]="editData.programBudget" #programBudget
        type="number">

    <input placeholder="Program Description" name="programDescription" [ngModel]="editData.programDescription"
        #programDescription type="text">

    <div class="btns">

        <button class="update_save" (click)="updateData(editData.programID,myForm.value)">Update</button>
        <button class="close"  (click)="close()">Close</button>

    </div>
</form>


<form #myForm="ngForm" id="myForm" *ngIf="addOrEdit.value">

    <h1>Create Program</h1>
    <input type="text" placeholder="Program Name" required name="programName" [ngModel]="">

    <input placeholder="Program Number" name="programNumber" required [ngModel]="" #programNumber type="text">

    <input placeholder="Program Budget" name="programBudget" required [ngModel]="0" #programBudget type="number">

    <input placeholder="Program Description" name="programDescription" required [ngModel]="" #programDescription type="text">

    <div class="btns">
        <button class="update_save" (click)="sendData(myForm.value)" [disabled]="!myForm.valid">Save</button>
       
        <button class="close"  (click)="close()">Close</button>

    </div>
</form>
